.Scorecard {
  background-color: #eeeeee;
}
.Scorecard-table {
  width: 100%;
}

.Scorecard-table th,
.Scorecard-table td {
  padding: 0.5rem;
}

.Scorecard-table thead {
  background-color: #bb1919;
  color: white;
}

.Scorecard-table tbody tr:nth-of-type(2n + 1) {
  background-color: white;
}

/* task 2  */
#Scorecard--winner {
  background-color: rgb(131, 182, 131);
  position: relative; 
}

tr#Scorecard--winner::after {
  content: '1st';
  position: absolute;
  right: 137px;
  top: 5px;
  border: 1px solid;
  border-radius: 50%;
  padding: 3px;
  background: gold;
}
.container{
display: flex;
flex-direction: column;
align-items: center;
}